html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: $base-font;
  font-weight: 400;
  font-size: var(--txt-size);
  line-height: var(--txt-lh);
  color: $color-base;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  display: none;
}

.js-accordion-details {
  overflow: hidden;
  transition: max-height $transition-props;

  &.is-hide {
    /* stylelint-disable */
    max-height: 0 !important;
    /* stylelint-enable */
  }
}

.tooltip {
  font-size: 13px;
  padding: 20px;
  display: none;
  max-width: 402.01px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(152, 136, 196, 0.16);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  &[data-show] {
    display: block;
  }

  .arrow,
  .arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
    left: 50%;
    right: 50%;
    margin: auto;
  }

  .arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #fff;
  }

  &[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
  }

  &[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
  }

  &[data-popper-placement^='left'] > .arrow {
    right: -4px;
  }

  &[data-popper-placement^='right'] > .arrow {
    left: -4px;
  }
}

.anchor {
  position: relative;
  top: calc((var(--header-height) + 40px) * -1);
}