.cta {
  &--sm {
    padding-top: 33px;
    padding-bottom: 35px;

    @include tablet {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &--md {
    padding-top: 45px;
    padding-bottom: 60px;

    @include tablet {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }

  &--lg {
    padding-top: 80px;
    padding-bottom: 80px;

    @include tablet {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include mobile-sm {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }

  &--xl {
    padding-top: 90px;
    padding-bottom: 95px;
    @include mobile-sm {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }

  &--center {
    .text {
      @include typography-subhead;
      font-weight: 400;
      margin-bottom: 30px;
      text-align: center;

      @include mobile-md {
        margin-bottom: 20px;
      }
    }

    .title {
      text-align: center;
      width: 80%;

      @include mobile-md {
        width: 100%;
      }
    }
  }

  &--nav {
    .link {
      @include pseudo-absolute;
      font-size: 18px;
      margin-bottom: 0 !important;
      margin-right: 25px;
      position: relative;
      padding-left: 12px;
      font-weight: 500;
      white-space: nowrap;
      @include mobile-md {
        width: 100%;
        margin-top: 10px;
      }

      &:before {
        width: 7px;
        height: 7px;
        left: 0;
        top: 1px;
        bottom: 0;
        margin: auto;
        background: $color-accent;
        border-radius: 50%;
      }
    }

    .wrap--links {
      @include mobile-md {
        flex-wrap: wrap;
      }
    }
  }

  &--career {
    .title {
      @include mobile-md {
        font-size: 24px;
        line-height: 1.4;
      }
    }

    .text {
      @include mobile-md {
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }

  .button {
    @include mobile-sm {
      width: 100%;
      min-width: auto;
    }
  }

  h2 {
    @include typography-h2;
    margin-bottom: 30px;
    line-height: 1.2;

  }

  h3 {
    @include typography-h3;
    font-size: 32px;
    margin-bottom: 20px;
  }

  h4 {
    @include typography-h4;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

