.leaders {
  padding-top: 60px;
  padding-bottom: 111px;

  .wrap {
    &--main {
      flex-wrap: wrap;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    @include typography-h6;
    text-align: center;
    margin-top: 10px;
  }

  h2 {
    @include typography-h2;

    @include mobile-md {
      text-align: center;
    }
  }

  p {
    @include typography-txt;
    text-align: center;
    max-width: 275px;
  }

  .col {
    @include col-3;
    @include tablet {
      @include col-4;
    }
    @include mobile-md {
      @include col-6;
    }
    @include mobile-sm {
      @include col-12;
    }
  }

  img {
    @include tablet {
      width: 120px;
    }
  }
}