.private-functions {
  h2 {
    @include typography-h2;
    margin-top: 0;

    @include mobile-xs {
      font-size: 32px;
    }
  }

  h6 {
    @include typography-h6;
    font-weight: 500;
    margin-top: 20px;
  }

  .wrapper {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .wrap {
    &--main {
      flex-wrap: wrap;
    }
  }

  .icon {
    svg {
      fill: none
    }
  }

  .text, h6 {
    max-width: 90%;
    display: block;
  }

  .text {
    margin-top: 10px;
  }

  .col {
    @include col-4;
    @include tablet {
      @include col-6;
    }
    @include mobile-sm {
      @include col-12;
    }
  }

}