.private-introduction {
  .wrapper {
    padding-top: 85px;
    padding-bottom: 85px;

    @include mobile-md {
      padding-top: 45px;
      padding-bottom: 50px;
    }
  }

  .wrap--main {
    @include tablet {
      flex-wrap: wrap;
    }
  }

  h2 {
    @include typography-h2;
    margin-top: 0;

    @include mobile-xs {
      font-size: 32px;
    }
  }

  h6 {
    @include typography-h6;
    font-weight: 500;
  }

  .col {
    @include col-4;

    @include tablet {
      @include col-6;
    }

    @include mobile-md {
      @include col-12;
    }
  }

  .number {
    margin-right: 15px;
    color: $color-accent;
    font-size: 50px;
    line-height: 0.8;
  }

  .text {
    margin-top: 10px;
  }

  .card {
    height: 100%;
  }

}