.private-access {
  h2 {
    @include typography-h2;
    margin-top: 25px;
    max-width: 400px;

    @include mobile-xs {
      font-size: 32px;
    }
  }

  p {
    @include typography-subhead;
    font-weight: 400;
    margin-top: 40px;
  }

  .wrapper {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .col {
    margin-top: 0 !important;

    &--images {
      min-width: 550px;
      width: 550px;
    }

  }

  .images {
    width: 100%;
  }

  img{
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }

  .icon {
    margin-right: 10px;
    svg {
      fill: none
    }
  }

}