.safety {
  .icon {
    position: absolute;
    top: 0;
    left: 20px;
    top: 40px;
    @include laptop {
      position: static;
    }
  }

  h2 {
    @include typography-h2;
    margin-top: 0;
    margin-bottom: 40px;

    @include laptop {
      margin-bottom: 53px;
    }

    @include tablet {
      margin-bottom: 35px;
    }
  }

  h3 {
    @include typography-h3;
    margin-bottom: 30px;
    letter-spacing: -0.005em;

    @include laptop {
      margin-bottom: 53px;
    }

    @include tablet {
      margin-bottom: 35px;
    }

    &.mt{
      margin-top: 60px;
    }
  }

  h4 {
    @include typography-h4;
    margin-bottom: 0;
    letter-spacing: -0.005em;

    @include laptop {
      margin-left: 20px;
    }
  }

  p {
    @include typography-txt;

    @include laptop {
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }

  .safety__wrapper {
    @include make-block-wrapper;
    padding-left: var(--indent);
    padding-right: var(--indent);
    padding-top: 85px;
    padding-bottom: 85px;

    @include mobile-md {
      padding-top: 60px;
      padding-bottom: 50px;
    }
  }

  .safety__list {
    @include no-list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;

    @include laptop {
      margin-bottom: 43px;
    }

    @include tablet {
      flex-direction: column;
    }

    @include mobile-md {
      margin-bottom: 0;
    }
  }

  .safety__item {
    position: relative;
    width: calc(100% / 2 - 12px);
    background: #fff;
    box-shadow: 0 2px 20px rgba(152, 136, 196, 0.16);
    padding: 35px 20px 20px 130px;

    &:nth-child(odd) {
      margin-right: auto;

      @include tablet {
        margin-bottom: 25px;
      }
    }

    &--big {
      width: calc(100% / 1 - 12px);
    }

    @include laptop {
      padding-left: 30px;
    }
    @include tablet {
      width: 100%;
      padding-left: 30px;
    }
    @include mobile-md {
      padding: 35px 20px 20px 20px;
      background: none;
      box-shadow: none;
      width: 100%;
      padding: 0;
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    .wrap {
      margin-bottom: 15px;
    }
  }

  .safety__listbox {
    @include no-list;
    padding-left: 13px;

    @include tablet {
      padding-left: 30px;
    }
    @include mobile-sm {
      padding-left: 0;
    }

    li {
      @include typography-list-compact;
    }

    b {
      font-weight: 500;
    }

    img {
      display: block;
      margin-top: 3px;
    }
  }
}