include ./modal
include ./form-offer

-
  const modalID = 'modal-offer';
  const formIDNumber = 2;
  const formID = 'form-offer-modal'

mixin form-modal(pageName)
  +modal(modalID)
    +form-offer(true, formIDNumber, formID, pageName, "offer")