include ../global/head
-
  const title = "navigation";

html(lang=lang)
  +head(title)
  body
    .page
      .page__content.index-page
        ul
          li
            a(href="/ru") Главная #ru (/ru/)
          li
            a(href="/en") Main #en (/en/)
          li
            a(href="/ru/patents") Патенты и сертификаты #ru (/ru/patents)
          li
            a(href="/en/patents") Patents and Licenses #en (/en/patents)
          li
            a(href="/ru/legal") Правовая информация #ru (/ru/legal)
          li
            a(href="/en/legal") Legal Information #en (/en/legal)
          li
            a(href="/ru/public") Социальная ответственность #ru (/ru/public)
          li
            a(href="/ru/ui-kit") Библиотека #ru (/ru/ui-kit)
          li
            a(href="/en/ui-kit") Library #en (/en/ui-kit)

          h2 new

          li
            a(href="/ru/blog/") Блог #ru (/ru/blog/)
          li
            a(href="/en/blog/") Blog #en (/en/blog/)
          li
            a(href="/ru/career/") Карьеры #ru (/ru/career/)
          li
            a(href="/en/career/") Career #en (/en/career/)
          li
            a(href="/ru/download/") Скачать #ru (/ru/download/)
          li
            a(href="/en/download/") Download #en (/en/download/)
          li
            a(href="/ru/support/") Помощь #ru (/ru/support/)
          li
            a(href="/en/support/") Support #en (/en/support/)
          li
            a(href="/ru/integrations/") Интеграции #ru (/ru/integrations/)
          li
            a(href="/en/integrations/") Integrations #en (/en/integrations/)
          li
            a(href="/ru/security/") Безопасность #ru (/ru/security/)
          li
            a(href="/en/security/") Security #en (/en/security/)
          li
            a(href="/ru/about/") О нас #ru (/ru/about/)
          li
            a(href="/en/about/") About us #en (/en/about/)
          li
            a(href="/ru/private/") Частным организациям #ru (/ru/private/)
          li
            a(href="/en/private/") Private organizations #en (/en/private/)
          li
            a(href="/ru/government/") Госучреждениям #ru (/ru/government/)
          li
            a(href="/en/government/") State institutions #en (/en/government/)
          li
            a(href="/ru/tech/") Dialog для Технической поддержки #ru (/ru/tech/)
          li
            a(href="/en/tech/") Dialog for Technical support #en (/en/tech/)
          li
            a(href="/ru/hr/") Dialog для HR #ru (/ru/hr/)
          li
            a(href="/en/hr/") Dialog for HR #en (/en/hr/)
          li
            a(href="/ru/sales/") Dialog для Коммерческого отдела #ru (/ru/sales/)
          li
            a(href="/en/sales/") Dialog for the Commercial Department #en (/en/sales/)
          li
            a(href="/ru/remote-work/") Удаленная работа #ru (/ru/remote-work/)
          li
            a(href="/en/remote-work/") Remote work #en (/en/remote-work/)
          li
            a(href="/ru/oem/") OEM #ru (/ru/oem/)
          li
            a(href="/en/oem/") OEM #en (/en/oem/)